apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "prometheus.full_name" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "prometheus.release_labels" . | indent 4 }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      {{- include "prometheus.release_labels" . | indent 6 }}
  template:
    metadata:
      labels:
        {{- include "prometheus.release_labels" . | indent 8 }}
    spec:
      serviceAccountName: {{ template "prometheus.full_name" . }}
      containers:
        - name: {{ template "prometheus.full_name" . }}
          image: {{ .Values.imageRepository }}:{{ .Values.imageTag }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          args:
            - "--config.file=/etc/prometheus/prometheus.yml"
            - "--storage.tsdb.path=/prometheus/"
            - "--web.enable-lifecycle"
            - "--storage.tsdb.no-lockfile"
          ports:
            - name: prometheus
              containerPort: {{ .Values.containerPort }}
          volumeMounts:
            - name: prometheus-config
              mountPath: /etc/prometheus
      volumes:
        - name: prometheus-config
          configMap:
            defaultMode: 420
            name: {{ template "prometheus.full_name" . }}
