apiVersion: v1
kind: Service
metadata: 
  name: {{ template "prometheus.full_name" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "prometheus.release_labels" . 4 }}
  annotations: 
    prometheus.io/scrape: "true"
spec:
  ports: 
    - name: prometheus
      port: {{ .Values.containerPort }}
      targetPort: {{ .Values.containerPort }}
  selector: 
    {{- include "prometheus.release_labels" . | indent 4 }}
